<% content_for :head do %>
  <%= javascript_include_tag 'home_effects' %>
<% end %>

<div class="grid_16" style="height:50px;"></div>
<div class="grid_16">
  <div style="padding: 0 0px 0 70px;">
    <div id="box1" class="color_box"></div>
    <a href="/about">
      <span>
        <div id="box2" class="color_box">
          <p class="box_text">About</p>
        </div>
      </span>
    </a>
    <div id="box3" class="color_box"></div>
    <div id="box4" class="color_box"></div>
    <div id="box5" class="color_box"></div>
    <div id="box6" class="color_box"></div>
    <a href="/"><span><div id="title_box" class="title_box"></div></span></a>
    <div id="box7" class="color_box"></div>
    <a href="/resume">
      <span>
        <div id="box8" class="color_box">
          <p class="box_text">Resume</p>
        </div>
      </span>
    </a>
    <a href="/contacts/new">
      <span>
        <div id="box9" class="color_box">
          <p class="box_text">Contact</p>
        </div>
      </span>
    </a>
    <div id="box10" class="color_box"></div>
    <div id="box11" class="color_box"></div>
    <div id="box12" class="color_box"></div>
    <div id="box13" class="color_box"></div>
    <div id="box14" class="color_box"></div>
    <div id="box15" class="color_box"></div>
    <a href="/projects">
      <span>
        <div id="box16" class="color_box">
          <p class="box_text">Projects</p>
        </div>
      </span>
    </a>
    <div id="box17" class="color_box"></div>
    <a href="http://mikehoitomt.wordpress.com/" target="_blank">
      <span>
        <div id="box18" class="color_box">
          <p class="box_text">Blog</p>
        </div>
      </span>
    </a>
  </div>
</div>