/*  Custom Styles for Job Tracker */
/*----------------------------------------------------------------------------*/

.color_box{
  display: block;
  height:150px;
  width: 150px;
  margin: 5px;
  float: left;
  text-align: center;
  font-family: "Verdana";
  font-size: 20px;
  color: #fff;
}

.box_text {
  margin: 60px 0 0 0;
}

.resume ul{
  margin-left: 5px;
  
}

.resume ul li {
  list-style: square;
}

.title_box{
  display: block;
  height: 150px;
  width: 310px;
  margin: 5px;
  float: left;
  background: url(/images/logo_black_trans_300_150.png) no-repeat;
}

.black_background {
  background: #000;
}
.gray_text {
  color: #cccccc;
}
.actions {
  text-align: center;
}

table td {
  border: none;
  border-bottom: 1px solid #cccccc;
}

table td.t_name {
  background-color: #fff;
  font-weight: bold;
  text-align: right;
  width: 35%;
}

table td.t_value {
  background-color: #fff;
}

.field_with_errors {
  display: inline-block; width: auto; margin: 0 0 10px 0;

  /*IE Garbage for inline block*/
  zoom:1; *display: inline;
  background-color: red;
}
.flash {
	padding: 1em 0 0 0;
	font-size: 125%;
}
.field_with_errors label {
  width: 8.2em;
  text-align: right;
  color: #fff;
}
.field * {
	vertical-align: top;
}
.field {
	position: relative;
	height: auto;
	margin: 0 0 .5em 0;
}
.field_with_errors{
	margin-bottom: 0;
}
.field label,
.field_with_errors label {
	display: inline-block;
	width: 60px;
	text-align: right;
}
.field_with_errors label {
	padding: 2px;
}
.field input,
.field textarea,
.field_with_errors input,
.field_with_errors textarea {
	position: absolute;
	left: 70px;
	display: inline-block;
	width: 300px;
	text-align: left;
	padding: 0;
}
#errorExplanation h2{
	font-size: 14px;
}

@media print{
  body{
    background-color:#fff;
  }

  h2 h3 {
    margin-top: 5px;
    margin-bottom: 0px;
  }

  .demographics{
    text-align: center;
  }

  .container_print {
    width: auto;
  }

  #nav {
    display: none;
  }
  
  #resume_link{
    display: none;
  }
}
