/*  Custom Styles for Job Tracker */
/*----------------------------------------------------------------------------*/

.color_box{
  display: block;
  height:150px;
  width: 150px;
  margin: 5px;
  float: left;
  text-align: center;
  font-family: "Verdana";
  font-size: 20px;
  color: #fff;
}

.box_text {
  margin: 60px 0 0 0;
}

.title_box{
  display: block;
  height: 150px;
  width: 310px;
  margin: 5px;
  float: left;
  background: url(/images/logo_black_trans_300_150.png) no-repeat;
}

.black_background {
  background: #000;
}
.gray_text {
  color: #cccccc;
}
.actions {
  text-align: center;
}

table td {
  border: none;
  border-bottom: 1px solid #cccccc;
}

table td.t_name {
  background-color: #fff;
  font-weight: bold;
  text-align: right;
  width: 35%;
}

table td.t_value {
  background-color: #fff;
}

.field_with_errors {
  display: inline-block; width: auto; margin: 0 0 10px 0;

  /*IE Garbage for inline block*/
  zoom:1; *display: inline;
  padding: 2px;
  background-color: red;
}
.field_with_errors label {
  width: 8.2em;
  text-align: right;
  color: #fff;
}
