<div class="grid_6">
  <h2 class="demographics" style="margin-top: 0;">Michael Hoitomt</h2>
</div>
<div id="resume_link" class="grid_4" style="text-align:right;">
  <%= link_to 'print version', about_path(:format => "pdf") %>
</div>
<div class="clear"></div>
<div class="grid_10 resume">
	<br />
	<strong>Background</strong><br />
	<p>
		I am a Java and Ruby on Rails programmer interested in helping customers with their software application development. Because of my diverse background I bring a more customer-focused approach to software development. I've been on the customer side of the table providing requirements, analyzing the finished product and prioritizing enhancements. This experience gave me the skills to better communicate with my customers and to deliver better applications.
	</p>

<strong>Professional Developer</strong><br />
<p>
I understand the key concepts to developing a large software application from my experience as a developer at UnitedHealth Group. Elegant, readable, robust code is very important when developing software regardless of the number of users. But it takes on extra importance when your code determines whether people can access their health insurance. Our software application administers over 6 million Medicare members and many hundreds of internal users. The edge effects from changes can be difficult to track down so it is important that your enhancements fit into the existing structure without causing ripples. If something is coded incorrectly, not only do our users let us know, but our members and the U.S. Government will let us know as well.
</p>

<strong>Diverse Skills</strong><br />
<p>Working on Ruby on Rails projects, both on my own and for paying customers, has been a wonderful augmentation to my day job as a Java programmer. Ruby on Rails gave me the tools and the flexibility to create the Chippewa Valley Habitat for Humanity site. CVH4H uses the site to manage their workshop syllabi and attendance and collect volunteer profiles including a list of skills from each of their volunteers. CVH4H continues to be pleased with the application and I continue to make improvements. You can view the project page for an overview of the Ruby on Rails projects that I've worked on.
</p>

<strong>Working Relationships</strong><br />
<p>My business and engineering background combined with my development experience give me a unique skill-set. I appreciate how important good communication is, not only when gathering requirements, but throughout the entire SDLC (Software Development Life Cycle) process. It's important that an open dialogue exist so that requirements are understood and a full solution is delivered that meets the customer's needs. There is more to software development than putting your head down and creating code. Good requirements and good quality assurance are essential for a successful project.
</p>
<p>
Please use my contact page to inquire about working with me on your development needs. I look forward to working with you.
</p>
</div>