<div class="grid_6">
  <h2 class="demographics">Michael Hoitomt</h2>
</div>
<div id="resume_link" class="grid_4" style="text-align:right; padding-top: 25px;">
  <% if !@is_production %>
    <%= link_to 'generate about file', about_path(:format => "pdf") %><br />
  <% end %>
</div>
<div class="clear"></div>
<div class="grid_10 resume">
  <p>
    I am a Senior Ruby and Javascript developer with a proven track record of architecting, developing and supporting robust, scalable, production ready applications. Throughout my career I have shown a high aptitude for solving tough problems while working tirelessly on application development and performance improvement. I enjoy interacting with product managers and business users while explaining complex technical processes and issues in easy to understand business language. My experience shows success in a wide array of industries including healthcare, b2b, e-commerce, and both on-shore and offshore manufacturing. I fully understand and have worked in many startup environments.
  <p>
  <ul>
    <li>9+ years of overall IT experience, focusing mainly on developing cutting edge Web & Mobile applications using various technology stacks such as Ruby on Rails, Java and AJAX etc.</li>
    <li>4+ years experience architecting, developing, and supporting multiple greenfield Ruby SAAS applications backed by BigData (Endeca), Postgresql, MySQL, and SQLite databases under version control (Subversion and Git)</li>
    <li>Expert at using Ruby to create web-based customer facing applications on *nix and Windows platforms that integrate HTML, CSS3, JavaScript (including jQuery), external services (Facebook, Google Plus One, Twitter, AWS, PayPal, Google Analytics, etc.) caching (Redis), queues (Resque), various gems, and SQL to solve business problems and create startup businesses</li>
    <li>Extensive experience using BDD and TDD with Minitest, RSpec, FactoryGirl and Spork with webrat</li>
    <li>Expert with object oriented programming in Ruby</li>
    <li>Experience writing complex SQL, PL/SQL, Stored Procedures, Cursors and Views etc.</li>
    <li>Experienced in Agile methodologies including planning and sizing user stories and sprints and completing software application development projects using Agile</li>
    <li>3 years experience developing and maintaining a J2EE enterprise application built on a custom Struts framework with JMS, Spring WS, JDBC, and ORACLE 10i</li>
  </ul>
  <p>Specialties:Programming: Ruby on Rails, JavaScript, jQuery, Java, Spring, AJAX, SQL, Sencha Touch, HTML, CSS3</p>
  <p>Databases: Postgresql, MySQL, Oracle, Microsoft Access</p>
  <p>Environments: OSX, Linux, Windows 7, Windows XP, Unix</p>
  <p>Web Design: Sublime Text 2, TextMate, Eclipse (including Aptana Web Studio and Rational Software Architect)</p>
  <p>
  I can be reached by phone at (715) 225-2563 or email at mike@hoitomt.com.
  </p>
</div>