<div class="grid_6">
  <h2 class="demographics" style="margin-top: 0;">Michael Hoitomt</h2>
</div>
<div id="resume_link" class="grid_4" style="text-align:right;">
	<% if !@is_production %>	
		<%= link_to 'generate about file', about_path(:format => "pdf") %><br />
	<% end %>
  <%= link_to 'print version', about_print_path %>
</div>
<div class="clear"></div>
<div class="grid_10 resume">
	<br />
	<strong>Background</strong><br />
	<p>
		I am a Java application developer with a focus on J2EE in an enterprise setting. In addition to Java development for the enterprise I am also a freelance Ruby on Rails developer. Combining the two language/framework methodologies has given me a unique perspective on software development. The end result is that I create robust, well structured code for J2EE combined with a Test Driven Development mindset that comes from Ruby on Rails. Additionally I've been on the customer side providing requirements, analyzing the finished product and prioritizing enhancements. Overall my experience has given me the skills to better communicate with my customers and to deliver better applications.
</p>

<strong>Professional Developer</strong><br />
<p>
I understand the key concepts in developing a large software application from my experience as a developer at UnitedHealth Group. Elegant, readable, robust code is very important when developing software regardless of the number of users. But it takes on extra importance when your code determines whether people can access their health insurance. Our software application administers over 6 million Medicare members and serves many hundreds of internal users. My primary responsibility at UnitedHealth Group is the take the business requirements and turn them into code. Test Driven Development is, only recently, gaining traction at UHG and I am one of the few developers that is using it consistently across my projects. I have built test cases that are used across our development team, and the number of defects from my code is low. As a result of my success I have been recognized for periodic bonuses that are awarded for performance.
</p>

<strong>Diverse Skills</strong><br />
<p>Working on Ruby on Rails projects, both on my own and for paying customers, has been the perfect augmentation to my day job as a Java programmer. Ruby on Rails gives me the tools and the flexibility to create and maintain the Chippewa Valley Habitat for Humanity site among other sites. CVH4H uses the site to manage their workshop syllabi and attendance and collect volunteer profiles including a list of skills from each of their volunteers. CVH4H continues to be pleased with the application and I've recently upgraded the site to Rails 3.0. You can view my list of <%= link_to 'projects', projects_path %> for an overview of the Ruby on Rails projects that I've worked on.
</p>

<strong>Working Relationships</strong><br />
<p>My business and engineering background combined with my development experience give me a unique skillset. Not only can I develop stable applications but I understand that good requirements and good quality assurance are essential for a successful project. I appreciate how important good communication is, not only when gathering requirements, but throughout the entire SDLC (Software Development Life Cycle). I make effort, as a developer, to keep an open dialogue so that requirements are understood and a full solution is delivered that meets the customer's needs.
</p>
<p>
I can be reached by phone at (715) 225-2563 or email at mike@hoitomt.com.
</p>
</div>