<div class="grid_6">
  <h2 class="demographics" style="margin-top: 0;">Michael Hoitomt</h2>
</div>
<div id="resume_link" class="grid_4" style="text-align:right;">
  <%= link_to 'print version', resume_path(:format => "pdf") %>
</div>
<div class="clear"></div>
<div class="grid_10 resume">
  <div class="demographics">
    1316 White Pine Dr<br />
    Eau Claire, WI 54701<br />
    (715) 225-2615<br />
    <%= link_to 'mike@hoitomt.com', new_contact_path %><br />
  </div>
  <br />
  <h3>Professional Experience</h3>
  <strong>J2EE Application Developer - UnitedHealth Group</strong>
  <ul>
    <li>I Responsible for the development and support
      of the administration application for Medicare Membership. The application is a
			J2EE application hosted on WebSphere servers utilizing a combination
			of the Struts framework and a internally developed Java framework. It utilizes 
			Enterprise Java Beans with an Oracle database. The application 	
			has many Spring web service endpoints which make the application a key part of 
			the UHG SOA (Service Oriented Architecture) enterprise framework. The application
			administers the HIPAA protected member information for more than 6 million
			members.
    </li>
    <li>
      Work in a team of 8 people that focuses on the Enrollment processing, member
 			administration, and interaction with CMS (Centers for Medicare and Medicaid 
			Services).
		</li>
		<li>	
			Responsible for working on phases of the SDLC (Software Development Life Cycle)
			such as model designing, implementation, coding, and testing.
    </li>
    <li>
      Develop end-to-end Batch processes utilizing JMS (Java Messaging Service)
			message based processes, SOAP Web Services, and User-facing UIs created with
			Java Server Pages and Struts. 
    </li>
		<li>
			Develop application logic using EJB including Session Beans and Entity Beans
			from multiple consumer end-points to database persistence.
		</li>
    <li>
      Create and maintain ORACLE SQL scripts and stored procedures
    </li>
    <li>
      Provide technical support and root cause analysis to business partners
    </li>
  </ul>
  <br />
  <strong>Ruby on Rails Application Developer - Freelance</strong>
  <ul style="margin-left: 5px;">
    <li>
      Develop and maintain web-based, database-driven Ruby on Rails applications for
      <%= link_to 'external clients', projects_path %>. Responsible for new site
      creation as well as maintenance of existing sites.
    </li>
    <li>
      Integrated existing web application into Facebook using iFrames
    </li>
    <li>
      Developed mobile version of web application for display on smartphones
      and other mobile devices.
    </li>
    <li>
      Utilized git and Heroku for version control and web hosting. Also utilized
      Amazon S3 from within ROR projects.
    </li>
  </ul>
  <br />
  <strong>Project Manager and Business Analyst - UnitedHealth Group</strong>
  <ul>
		<li>
			Led the requirements gathering and system definition for the Enrollment processing portion of a Medicare 			
			administration system for Medicare Advantage and Part D.
		</li>
    <li>
      Managed projects and performed root-cause analysis and resolution of
      production issues for Medicare Billing and Enrollment
    </li>
  </ul>
  <br />
  <strong>Engineer - Goodrich Aerospace</strong>
  <ul>
    <li>Manufacturing Engineer/Supervisor: Led team of 30 production personnel which ran a 
				$12 million/year production line</li>
  </ul>
	<ul>
    <li>Mechanical Design Engineer: Design and test aircraft sensors for harsh environments.</li>
  </ul>
  <br />
  <h3>Technical Skills</h3>
  <ul>
    <li>2 years of experience in web based applications utilizing Ruby on Rails</li>
    <li>2 years of experience in java software development</li>
    <li>2 years of experience in web based applications utilizing jsp, javascript, 
				struts, java, and j2ee</li>
    <li>In depth knowledge of object oriented programming and software development life 
				cycle</li>
    <li>Proficient skills in database programming, SQL and oracle</li>
    <li>Comfortable working on mac, windows, linux</li>
  </ul>
  <br />
  <h3>Education</h3>
  <strong>Master of Business Administration - University of Wisconsin Eau Claire</strong>
  <p>Graduated May 2008</p>
  <strong>Bachelors of Science - Mechanical Engineering - University of Wisconsin Madison</strong>
  <p>Graduated December 1998</p>
  <strong>Software Engineering - Harvard University Extension</strong>
  <ul>
    <li>Core classes in Java programming</li>
  </ul>

</div>

<%= javascript_tag do %>

<% end %>