<div id="frame-footer">
	<div id="footer">
		<div id="foot-col1">
			<br />
		</div><!-- end .foot-col1 -->
		<div id="foot-col2">
			<br />
    </div><!-- end .foot-col2 -->
    <div id="foot-col3">
    	<ul>
				<li class="widget-container">
        	<h2 class="widget-title">Contact Us</h2>
          <p>
	          Phone: <%= phone %><br />
	          Email: <%= mail_to email, email %><br />
          </p>
        </li>
      </ul>
    </div><!-- end .foot-col3 -->
  </div><!-- end #footer -->
  <div class="clear"></div>
  <div id="copyright">
		Copyright &copy;2011 Agency. All rights reserved. Design by
		<a	href="http://www.templatesquare.com">TemplateSquare</a>
  </div> <!-- end #copyright -->
</div><!-- end #frame-footer -->
<div class="clear"></div><!-- end clear float -->