<div id="subPage-main">
	<h1>Items For Sale</h1>

<table>
	<tr>
		<th></th>
		<th>Item</th>
		<th>Description</th>
		<th>Price</th>
	</tr>	
<% @products.each do |product| %>
  <tr>
	<td style="padding-bottom:5px;"><%= image_tag product.photo.url(:medium) %></td>
    <td><%=h product.name %></td>
    <td><%=h product.description %></td>
	<td><%=h number_to_currency(product.price) %>
  </tr>
<% end %>
</table>
</div>